html {
    height: 100%;
}

body {
    background-color: #19364A;
    color: #FFFFFF;
    margin: auto;
    width: 80%;
    max-width: 1100px;

    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    flex-shrink: 0;
    margin-bottom: 15px;
}

.content {
    flex: 1 0 auto;
  }

#title {
    margin: auto;
    min-width: 200px;
    max-width: 310px;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    font-size: 13px;
    margin-bottom: 12px;
}

h1 {
    font-family: 'Anton', sans-serif;
    color: #FFC701;
    text-align: center;
    font-size: 42px;
    margin-bottom: 25px;
}

h2 {
    color: #FFC701;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 22px;
}

/* Not implemented */
.personal a:hover {
    color: #FFC701;
}

#logoLeft {
    float: left;
    width: 30px;
    margin-top: 9px;
    margin-right: 10px;
}

#logoRight {
    float: right;
    width: 30px;
    margin-top: 9px;
    margin-left: 10px;
}

.font-white {
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
}

.font-black {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    transition: .3s all ease-out;
    margin: auto;   
}

.font-black:hover {
    color: white;
    text-decoration: none;
}

.personal {
    text-align: center;
}

.personal a {
    color: #FFFFFF;
    text-decoration: none;
    -webkit-transition: .3s all ease-out;
    -moz-transition: .3s all ease-out;
    transition: .3s all ease-out;
    font-size: 16px;
}

span {
    display: inline-block;
}

.card-header {
    background-color: #19364A;
    color: #FFFFFF;
    border: none;
    padding: 0px;
}

/* #accordion {
    background-color: #19364A;
    color: #FFFFFF;
} */

/* Where the pixel bug is I think */
.card {
    border: none;
}

h3 {
    border: none;
    padding: 0px;
}

.card-body {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #FFC701;
    margin: 0px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 12px;
}

.btn-link:hover {
    color: #FFC701;
    text-decoration: none;
}

.btn-link {
    border: none;
    color: white;
    text-decoration: none;
}

.bigger {
    font-size: 1.5em;
}

li {
    display: inline;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
}

ul {
    margin-right: 25px;
}

.h2-title {
    color:  #FFC701;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
}

.h2-glyph {
    font-size: 22px;
    font-weight: 500px;
}