---
import Features2 from '~/components/widgets/Features2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About Me',
};
---

<Layout metadata={metadata}>
  <Features2
    title="About Me"
    subtitle="I'm a technologist and software engineer with experience in DevOps, web development, AI, cloud engineering, technical education, and Agile project management in industries including healthcare, finance, and logistics. I have recently decided to apply my technical expertise toward entrepreneurial endeavors and consulting. I am loving the deeply diverse process of building and growing a business."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Elsewhere"
    tagline="Find Me"
    columns={3}
    items={[
      {
        title: 'GitHub',
        description: 'evanharmon1',
        href: 'https://github.com/evanharmon1',
        icon: 'tabler:brand-github',
      },
      {
        title: 'Mastodon',
        description: 'evanharmon@mastodon.social',
        href: 'https://mastodon.social/@evanharmon',
        icon: 'tabler:brand-mastodon',
      },
      {
        title: 'BlueSky',
        description: 'evanharmon.bsky.social',
        href: 'https://bsky.app/profile/evanharmon.bsky.social',
        icon: 'tabler:brand-bluesky',
      },
      {
        title: 'LinkedIn',
        description: 'evanharmon1',
        href: 'https://www.linkedin.com/in/evanharmon1',
        icon: 'tabler:brand-linkedin',
      },
      {
        title: 'omg.lol',
        description: 'evanharmon',
        href: 'https://evanharmon.omg.lol',
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Meetup',
        description: 'KC Tech Enthusiasts',
        href: 'https://meetup.com/kctechbookclub/',
        icon: 'tabler:brand-meetup',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      { text: 'Contact Me', href: '/contact' },
      { text: 'Meet With Me', href: 'https://fantastical.app/evanharmon' },
    ]}
  >
    <Fragment slot="title"> Let's Talk! </Fragment>
  </CallToAction>
</Layout>
