---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/almanac/Header.astro';
import Footer from '~/components/almanac/Footer.astro';
import About from '~/components/almanac/About.astro';
import Divider from '~/components/almanac/Divider.astro';
import Contact from '~/components/almanac/Contact.astro';
---

<Layout
  title="About Me"
  description="Evan Harmon — technologist, software engineer, and proprietor of cantankerous contraptions."
>
  <Header />
  <main>
    <About />
    <Divider />
    <Contact />
  </main>
  <Footer />
</Layout>
