---
import Features2 from '~/components/widgets/Features2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Layout from '~/layouts/PageLayout.astro';
import Stats from '~/components/widgets/Stats.astro';

const metadata = {
  title: 'About Me',
};
---

<Layout metadata={metadata}>
  <Features2
    title="About Me"
    subtitle="I'm a technologist and software engineer with experience in DevOps, web development, AI, cloud engineering, technical education, and project management in industries including healthcare, finance, and logistics. I have recently decided to apply my technical expertise toward entrepreneurial endeavors and consulting. I am loving the highly diverse process of building and growing a business."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Stats
    stats={[
      { title: 'Contraptions', amount: '132K' },
      { title: 'Bits', amount: '24.8K' },
      { title: 'Qualia', amount: '10.3K' },
      {
        title:
          'Number of times that people have had an interaction with me in which they have found that experience and/or me and/or their general outlook on life thereafter simply delightful',
        amount: '48.4K',
      },
    ]}
  />

  <CallToAction
    actions={[
      { text: 'Contact Me', href: '/contact' },
      { text: 'Meet With Me', href: 'https://fantastical.app/evanharmon' },
    ]}
  >
    <Fragment slot="title"> Let's Talk! </Fragment>
  </CallToAction>
</Layout>
