---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/almanac/Header.astro';
import Hero from '~/components/almanac/Hero.astro';
import About from '~/components/almanac/About.astro';
import Projects from '~/components/almanac/Projects.astro';
import Blog from '~/components/almanac/Blog.astro';
import Contact from '~/components/almanac/Contact.astro';
import Footer from '~/components/almanac/Footer.astro';
import { getPosts, toLedger } from '~/utils/blog';

const posts = (await getPosts()).slice(0, 4).map((p) => toLedger(p));
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <Projects />
    <Blog posts={posts} />
    <Contact />
  </main>
  <Footer />
</Layout>
