<div class="nowrap"><h2><button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordionFour" aria-expanded="true" aria-controls="accordionFour"><span class="font-white h2-glyph">⟐&nbsp&nbsp</span><span class="h2-title"> Volunteering</span><span class="font-white h2-glyph">&nbsp&nbsp⟐</span></h2></button></div>
<div class="accordion mb-3 collapse" id="accordionFour">

        <div class="card-header" id="headingDOne">
            <h3 class="mb-0 text-center">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseDOne" href="#collapseDOne" aria-expanded="true" aria-controls="collapseDOne" style="padding: 0px;">
                    <span class="font-white bigger">⇲&nbsp</span>NeighborShare Web App
                </button>
            </h3>
        </div>

        <div id="collapseDOne" class="collapse" aria-labelledby="headingDOne" data-parent="#accordionFour">
            <div class="card-body">
                <div class="row">
                    <a class="col text-center font-black" href="https://www.neighbor-share.org" target="_blank"><span class="bigger" style="color: black">⦨ </span> Website</a>
                    <a class="col text-center font-black" href="https://github.com/evanharmon1/neighbor-share" target="_blank"><span style="color: black">{} </span> Code</a>
                </div>
                <p>Multi-user web app for sharing household items with neighbors, friends, and family including an email notification service and user-uploaded item images via AWS S3 API. Contact me for a demo user account to try it out.</p>
                <p>Deployed on an Ubuntu 18.04 Digital Ocean VM with a LAMP stack, Apache reverse proxy, secure phpMyAdmin installation, and TLS/SSL certificate for HTTPS.</p>
                <ul>
                    <li>♦︎ Java &nbsp;</li>
                    <li>♦︎ Spring Boot &nbsp;</li>
                    <li>♦︎ Spring Data/JPA/Hibernate &nbsp;</li>
                    <li>♦︎ MySQL &nbsp;</li>
                    <li>♦︎ Thymeleaf &nbsp;</li>
                    <li>♦︎ Bootstrap &nbsp;</li>
                    <li>♦︎ Spring Security &nbsp;</li>
                    <li>♦︎ Spring Boot Mail &nbsp;</li>
                    <li>♦︎ Maven &nbsp;</li>
                    <li>♦︎ MVC &nbsp;</li>
                    <li>♦︎ OOP &nbsp;</li>
                </ul>
            </div>
        </div>

        <div class="card-header" id="headingDTwo">
                <h3 class="mb-0 text-center">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseDTwo" href="#collapseDTwo" aria-expanded="true" aria-controls="collapseDTwo" style="padding: 0px;">
                        <span class="font-white bigger">⇲&nbsp</span>NeighborShare Web App
                    </button>
                </h3>
            </div>
    
            <div id="collapseDTwo" class="collapse" aria-labelledby="headingDTwo" data-parent="#accordionFour">
                <div class="card-body">
                    <div class="row">
                        <a class="col text-center font-black" href="https://www.neighbor-share.org" target="_blank"><span class="bigger" style="color: black">⦨ </span> Website</a>
                        <a class="col text-center font-black" href="https://github.com/evanharmon1/neighbor-share" target="_blank"><span style="color: black">{} </span> Code</a>
                    </div>
                    <p>Multi-user web app for sharing household items with neighbors, friends, and family including an email notification service and user-uploaded item images via AWS S3 API. Contact me for a demo user account to try it out.</p>
                    <p>Deployed on an Ubuntu 18.04 Digital Ocean VM with a LAMP stack, Apache reverse proxy, secure phpMyAdmin installation, and TLS/SSL certificate for HTTPS.</p>
                    <ul>
                        <li>♦︎ Java &nbsp;</li>
                        <li>♦︎ Spring Boot &nbsp;</li>
                        <li>♦︎ Spring Data/JPA/Hibernate &nbsp;</li>
                        <li>♦︎ MySQL &nbsp;</li>
                        <li>♦︎ Thymeleaf &nbsp;</li>
                        <li>♦︎ Bootstrap &nbsp;</li>
                        <li>♦︎ Spring Security &nbsp;</li>
                        <li>♦︎ Spring Boot Mail &nbsp;</li>
                        <li>♦︎ Maven &nbsp;</li>
                        <li>♦︎ MVC &nbsp;</li>
                        <li>♦︎ OOP &nbsp;</li>
                    </ul>
                </div>
            </div>

</div>